version: "3"
services:
 db:
  image: postgres
  volumes: 
   - ./data/db:/var/lib/postgresql/data
  environment:
   - POSTGRES_DB=BME
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=chin@1234

 web:
  build: .
  command: python manage.py runserver 0.0.0.0:8000
  volumes:
   - .:/code
  ports:
   - "8000:8000"
  depends_on:
   - db