{% extends "base.html" %}
{% block content %}

<style type="text/css">
	.buttoncontainer{
		display :  grid;
		grid-template-columns: 1fr 1fr 10fr ;
	}
	
</style>
<div class="fontdesc">
	<h3>{{event.name}}</h3>
	<div style="display: block;margin-left:auto; margin-right:auto;width: 50%;" >
			
			<img src="{{event.image.url }}" alt="img" style="margin-left:auto; margin-right:auto;" width= 100% height="400"  />
			<h5> {{event.summary}}</h5>

			<div>
			<div>
				Date: {{ event.date }}
			</div>
			<div>
				Location: {{ event.location }}
			</div>
			<div >
				Time: {{ event.time }}
			</div>

			<div class="buttoncontainer">
				<div>
					<a href="{% url 'ticket_book' event.id %}"><button type="button">Book</button></a>
				</div>
				{% if request.user.is_superuser %}
					<div>
					<a href="{% url 'update_event' event.id %}"><button type="button">Update</button></a>
					</div>
				{% endif %}
				
			</div>
			</div>
		</div>
</div>
{% endblock %}