{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


{% if 'update-event' in request.path_info %}
	<h1 class="fontdesc">EVENT UPDATE PAGE</h1>
{% else %}
	<h1 class="fontdesc">EVENT CREATION PAGE</h1>
{% endif %}
<div>

		<form method="POST" style="text-align: center; margin:auto; width: 50%" enctype="multipart/form-data">
			{% csrf_token %}
			<div style=" border: 2px solid grey;" class="fontdesc">
				<legend>New Event:</legend>
					

				<div style="padding-top: 10px; padding-bottom: 10px;">	{{ form|crispy }}  </div>
			
			</div>
		<div style="padding-top: 20px">

		{% if 'update-event' in request.path_info %}
			<button type="submit">Update</button>
		{% else %}
			<button type="submit">Create</button>	
		{% endif %}
			
			
			
		</div>
	</form>
		
</div>

{%  endblock %}