{% extends "base.html" %}
{% block content %}
<h1>HOME PAGE</h1>

<div>
	<form method="POST">
		{% csrf_token %}
	<label for="City">City:</label>
	<select id="City" name="City">
		
		<option value="ALL">ALL</option>
		{% for city in cities %}
			<option value="{{city.city}}">{{city.city}}</option>
		{% endfor %}
	</select>
	<label for="Genre">Genre:</label>
	<select id="Genre" name="Genre">
		
		<option value="ALL">ALL</option>
		{% for genre in genres %}
			<option value="{{genre.event_type}}">{{genre.event_type}}</option>
		{% endfor %}
	</select>
	<button type="Submit" method="POST">Search</button>
</form>
</div>


<div>
	{% for event in events %}
		<div style="display: block;margin-left:auto; margin-right: auto;width: 50%;" >
			<a href="{% url 'event' event.id %}">
			<img src="{{event.image.url }}" alt="img" width= 80% height="400"  />
			<h5> {{event.id}} - {{event.name}}</a></h5>
		</div>
	{% endfor %}
</div>


{% endblock %}