{% extends "base.html" %}
{% block content %}
<h1 ><font color="white">HOME PAGE</font>	</h1>

<div>
	<form method="POST">
		{% csrf_token %}
		
	<label for="City"><font color="white">City:</font></label>
	<select id="City" name="City">
		
		<option value="ALL">ALL</option>
		{% for city in cities %}
			{% if city.city == selected_city %}
			<option value="{{city.city}}" selected>{{city.city}}</option>
			{% else %}
			<option value="{{city.city}}">{{city.city}}</option>
			{% endif %}
		{% endfor %}
	</select>

	
	<label for="Genre"><font color="white">Genre:</font></label>
	<select id="Genre" name="Genre">
		
		<option value="ALL">ALL</option>
		{% for genre in genres %}
			{% if genre.event_type == selected_genre %}
			<option value="{{genre.event_type}}" selected>{{genre.event_type}}</option>
			{% else %}
			<option value="{{genre.event_type}}">{{genre.event_type}}</option>
			{% endif %}
		{% endfor %}
	</select>
	<button type="submit">Search</button>
</form>
</div>


{% if messages%}
{% for message in messages %}
	<h3>{{message}}</h3>
{% endfor %}
{% endif %}

<div >
	{% for event in events %}
		<div style="margin:auto;width: 50%; padding: 10px; border: 5px solid grey;" >
				<a href="{% url 'event' event.id %}">
				<center><h4><font color="white" ><u>{{event.name}}</u></font></h4></center>
				<center><img  src="{{event.image.url }}" alt="img" width= 80% height="400"  /></center></center>
				</a>
				<h5><font color="white"><center>City: {{event.city}} </center></font></h5><h5><font color="white"><center>      Genre: {{event.event_type}}</center></font></h5>
		</div>
		<div>
			
		</div>
		<br>
	{% endfor %}
</div>

<style type="text/css">
.fontcolor{
	color=white;
}	

</style>
{% endblock %}