{% extends "base.html" %}
{% block content %}
<h1 class="fontdesc">REGISTERED EVENTS</h1>
<hr>
{% if tickets.count == 0 %}
<h4 class="fontdesc"> No Bookings Yet....</h4>
{% else %}

<div class="fontdesc">
	{% for ticket in tickets %}
		<div style="margin:auto;width: 50%; padding: 10px; border: 5px solid grey;" class="fontdesc">
			<a href="{% url 'event' ticket.booking.event.id %}">
			<center><img src="{{ticket.booking.event.image.url }}" alt="img" width= 80% height="400"  /></center>
			<center><h5 class="fontdesc">{{ticket.booking.event.name}}</h5></center></a>
			<a href="{% url 'ticket_confirm' ticket.id %}" class="fontdesc">Ticket ID : {{ticket.id}}</a>
		</div>
		<br>
	{% endfor %}
</div>
{% endif %}
{% endblock %}