{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Ticket Booking Page</h1>
<div>

		<form method="POST" style="text-align: center;">
			{% csrf_token %}
			<fieldset>
				<legend> Book Ticket:</legend>
					{% if messages %}
						{% for message in messages %}
							<h5><font color="red">{{message}}</font></h5>
						{% endfor %}
					{% endif %}
					<h4>Event: {{event.name}}</h4>
					<h4>Price: {{event.event_price}}</h4>
					{{ form|crispy}}
			</fieldset>
		<div>
			
			<button type="submit">Proceed</button>	
			
		</div>
	</form>
		
</div>

{% endblock %}