<!DOCTYPE html>
<html>
<head>
	<title>BookMyEvent</title>
</head>
<STYLE> A {text-decoration: none;}</STYLE>

<style type="text/css"> 
	.navcontainer{
		display : grid;
		grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
		background-color: #800517; 
		font-family: Helvetica, Sans-Serif;
		

	}
	.fontcolor{
		color: #cdb5db
	}

</style>
<body style="background-color: #121212;">

	<div  class="navcontainer">
	<div>	
	<a href="{% url 'home' %}">
		<h3 class="fontcolor"><strong>BookMyEvent</strong></h3>
	</a>
	</div>

	<div>
	</div>

	
	{% if request.user.is_authenticated %}
		{% if request.user.is_superuser %}
		<div>
		<a href="{% url 'create_event' %}"><h5 class="fontcolor">Create Event</h5></a>
		</div>
		{% endif %}
		<div><a href="{% url 'registered_events' %}"><h5 class="fontcolor">Registered Events</h5></a></div>
		<div><a href="{% url 'mytickets' %}"><h5 class="fontcolor">My Tickets</h5></a></div>
		<div><a href="{% url 'logout' %}"><h5 class="fontcolor">Logout</h5></a></div>	
		
	{% else %}
	<div>
		<a href="{% url 'register' %}"><h5 class="fontcolor">Register</h5></a>
	</div>
	<div>	
		<a href="{% url 'login_page' %}"><h5 class="fontcolor">LogIn</h5></a>
	</div>	
	{% endif %}
	</div>
	<hr>
	
	<div>
	{% block content %}{% endblock %}
	</div>
</body>
</html>

